# Naive Bayes classifier (NB)

Logistic Regression과 어떻게 다른지 알아봅니다.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data_file = 'data/titanic.csv'
titanic = pd.read_csv(data_file, index_col='PassengerId')
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
embark_dum = pd.get_dummies(titanic['Embarked'], prefix='port')
embark_dum.drop(embark_dum.columns[2], axis=1, inplace=True)
titanic = pd.concat([titanic, embark_dum], axis=1)
titanic.drop(['Embarked'], axis=1, inplace=True)

In [4]:
age_group = []
for i in range (0, len(titanic)):
    age = titanic.iloc[i]['Age']
    age = 'child' if age < 20 else 'adult' if age >= 20 else 'unknown'
    age_group.append(age)
    
titanic['Age_modified'] = age_group
age_dum = pd.get_dummies(titanic['Age_modified'], prefix = 'Age')
age_dum.drop(age_dum.columns[2], axis=1, inplace=True)
age_dum.sample(n = 10)
titanic = pd.concat([titanic, age_dum], axis=1)
titanic.drop(['Age', 'Age_modified'], axis=1, inplace=True)

In [6]:
pclass_dum = pd.get_dummies(titanic['Pclass'], prefix = 'pclass')
pclass_dum.drop(pclass_dum.columns[2], axis=1, inplace=True)
titanic = pd.concat([titanic, pclass_dum], axis=1)
titanic.drop(['Pclass'], axis=1, inplace=True)

In [7]:
titanic['Sex'] = titanic['Sex'].map({'female':1, 'male':0})
titanic.head(10)

,Survived,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,port_C,port_Q,Age_adult,Age_child,pclass_1,pclass_2
PassengerId,,,,,,,,,,,,,,
1,0,"Braund, Mr. Owen Harris",0,1,0,A/5 21171,7.2500,NaN,0,0,1,0,0,0
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,1,0,PC 17599,71.2833,C85,1,0,1,0,1,0
3,1,"Heikkinen, Miss. Laina",1,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,0
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,0,113803,53.1000,C123,0,0,1,0,1,0
5,0,"Allen, Mr. William Henry",0,0,0,373450,8.0500,NaN,0,0,1,0,0,0
6,0,"Moran, Mr. James",0,0,0,330877,8.4583,NaN,0,1,0,0,0,0
7,0,"McCarthy, Mr. Timothy J",0,0,0,17463,51.8625,E46,0,0,1,0,1,0
8,0,"Palsson, Master. Gosta Leonard",0,3,1,349909,21.0750,NaN,0,0,0,1,0,0
9,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,0,2,347742,11.1333,NaN,0,0,1,0,0,0
10,1,"Nasser, Mrs. Nicholas (Adele Achem)",1,1,0,237736,30.0708,NaN,1,0,0,1,0,1

# Category 와 Continuous 분할

NB은 피쳐 형태에 따라 모형이 다릅니다. Category 변수는 CategoricalNB, 연속형 변수는 GaussianNB를 사용합니다.

In [12]:
all_features = ['SibSp','Parch','Fare','Sex', 'port_C', 'port_Q', 'Age_adult', 'Age_child', 'pclass_1', 'pclass_2']
cont_features = ['SibSp','Parch','Fare']
cat_features = ['Sex', 'port_C', 'port_Q', 'Age_adult', 'Age_child', 'pclass_1', 'pclass_2']
X = titanic[all_features]
y = titanic.Survived

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123)

In [18]:
X_cont_train = X_train[cont_features]
X_cont_test = X_test[cont_features]
X_cat_train = X_train[cat_features]
X_cat_test = X_test[cat_features]

X_cont_train.head()

             SibSp  Parch      Fare
PassengerId
661              2      0  133.6500
853              1      1   15.2458
704              0      0    7.7417
887              0      0   13.0000
526              0      0    7.7500

## Naive Bayes classifier

In [31]:
# Because all variables in iris dataset are numerical, we use Gaussian naive Bayes.
from sklearn.naive_bayes import CategoricalNB, GaussianNB

gnb = GaussianNB()
gnb.fit(X_cont_train, y_train)
y_cont_prob = gnb.predict_proba(X_cont_test) #predict_proba()는 확률을 예측해 줍니다.

In [34]:
cnb = CategoricalNB()
cnb.fit(X_cat_train, y_train)
y_cat_prob = cnb.predict_proba(X_cat_test)

In [35]:
print(y_cont_prob)

[[6.80675333e-01 3.19324667e-01]
 [7.08902758e-01 2.91097242e-01]
 [7.02712363e-01 2.97287637e-01]
 [6.89297547e-01 3.10702453e-01]
 [7.33632452e-01 2.66367548e-01]
 [7.05735717e-01 2.94264283e-01]
 [7.14011793e-01 2.85988207e-01]
 [7.31547427e-01 2.68452573e-01]
 [6.60352433e-01 3.39647567e-01]
 [4.24794169e-01 5.75205831e-01]
 [8.73991071e-01 1.26008929e-01]
 [7.09697690e-01 2.90302310e-01]
 [1.89411366e-01 8.10588634e-01]
 [7.09871893e-01 2.90128107e-01]
 [7.00842434e-01 2.99157566e-01]
 [9.12601370e-01 8.73986304e-02]
 [4.76311465e-03 9.95236885e-01]
 [6.18000564e-01 3.81999436e-01]
 [4.37996009e-01 5.62003991e-01]
 [7.31547427e-01 2.68452573e-01]
 [6.12159216e-01 3.87840784e-01]
 [5.83887305e-01 4.16112695e-01]
 [7.13552486e-01 2.86447514e-01]
 [9.99950989e-01 4.90106418e-05]
 [9.99943308e-01 5.66915569e-05]
 [7.33331814e-01 2.66668186e-01]
 [7.09697690e-01 2.90302310e-01]
 [1.02825450e-01 8.97174550e-01]
 [7.09697690e-01 2.90302310e-01]
 [7.09529634e-01 2.90470366e-01]
 [9.93857181e-01 6.14281949e-03]
 [6.37025207e-01 3.62974793e-01]
 [7.13552486e-01 2.86447514e-01]
 [5.75008060e-01 4.24991940e-01]
 [6.45468560e-01 3.54531440e-01]
 [7.13209843e-01 2.86790157e-01]
 [7.09412490e-01 2.90587510e-01]
 [7.09529634e-01 2.90470366e-01]
 [7.13552486e-01 2.86447514e-01]
 [6.95798187e-01 3.04201813e-01]
 [2.92850650e-02 9.70714935e-01]
 [9.30004352e-01 6.99956476e-02]
 [7.33632452e-01 2.66367548e-01]
 [7.11410861e-01 2.88589139e-01]
 [7.11072546e-01 2.88927454e-01]
 [7.13552486e-01 2.86447514e-01]
 [6.03135136e-01 3.96864864e-01]
 [6.28984932e-01 3.71015068e-01]
 [7.08677435e-01 2.91322565e-01]
 [7.25780202e-01 2.74219798e-01]
 [7.08902758e-01 2.91097242e-01]
 [9.99933352e-01 6.66480807e-05]
 [7.08928592e-01 2.91071408e-01]
 [7.09871893e-01 2.90128107e-01]
 [7.13552486e-01 2.86447514e-01]
 [7.08897533e-01 2.91102467e-01]
 [9.99943308e-01 5.66915569e-05]
 [7.09582776e-01 2.90417224e-01]
 [5.15415211e-01 4.84584789e-01]
 [9.99999795e-01 2.04990434e-07]
 [6.22025320e-01 3.77974680e-01]
 [2.10921422e-07 9.99999789e-01]
 [2.92850650e-02 9.70714935e-01]
 [8.30780892e-02 9.16921911e-01]
 [7.08677435e-01 2.91322565e-01]
 [6.82086604e-01 3.17913396e-01]
 [7.13552486e-01 2.86447514e-01]
 [7.13552486e-01 2.86447514e-01]
 [6.95798187e-01 3.04201813e-01]
 [7.13279155e-01 2.86720845e-01]
 [4.12644157e-01 5.87355843e-01]
 [7.09871893e-01 2.90128107e-01]
 [6.98108121e-01 3.01891879e-01]
 [4.69479294e-01 5.30520706e-01]
 [7.09558681e-01 2.90441319e-01]
 [7.09697690e-01 2.90302310e-01]
 [9.30860675e-01 6.91393251e-02]
 [7.08928592e-01 2.91071408e-01]
 [3.52806485e-01 6.47193515e-01]
 [5.25386126e-03 9.94746139e-01]
 [7.33683893e-01 2.66316107e-01]
 [7.13989470e-01 2.86010530e-01]
 [9.99933265e-01 6.67346771e-05]
 [7.08902758e-01 2.91097242e-01]
 [7.09697690e-01 2.90302310e-01]
 [7.13243553e-01 2.86756447e-01]
 [5.94084519e-01 4.05915481e-01]
 [7.10528033e-01 2.89471967e-01]
 [6.83333155e-01 3.16666845e-01]
 [7.08677435e-01 2.91322565e-01]
 [7.11630772e-01 2.88369228e-01]
 [7.13817815e-01 2.86182185e-01]
 [7.13849864e-01 2.86150136e-01]
 [9.99933265e-01 6.67346771e-05]
 [6.43762625e-01 3.56237375e-01]
 [7.09412490e-01 2.90587510e-01]
 [3.20030796e-01 6.79969204e-01]
 [1.28000968e-02 9.87199903e-01]
 [7.10519523e-01 2.89480477e-01]
 [9.09104244e-01 9.08957557e-02]
 [9.99943308e-01 5.66915569e-05]
 [4.29549116e-02 9.57045088e-01]
 [7.04837500e-01 2.95162500e-01]
 [7.08897533e-01 2.91102467e-01]
 [7.09529634e-01 2.90470366e-01]
 [6.28984932e-01 3.71015068e-01]
 [7.09688210e-01 2.90311790e-01]
 [7.08902758e-01 2.91097242e-01]
 [7.09871893e-01 2.90128107e-01]
 [7.13552486e-01 2.86447514e-01]
 [5.77968417e-01 4.22031583e-01]
 [5.95248876e-01 4.04751124e-01]
 [4.30110667e-04 9.99569889e-01]
 [7.10213800e-01 2.89786200e-01]
 [7.09558681e-01 2.90441319e-01]
 [7.25780202e-01 2.74219798e-01]
 [7.04837500e-01 2.95162500e-01]
 [7.25780202e-01 2.74219798e-01]
 [7.09529634e-01 2.90470366e-01]
 [6.22025320e-01 3.77974680e-01]
 [7.09697690e-01 2.90302310e-01]
 [7.09871893e-01 2.90128107e-01]
 [7.05272111e-01 2.94727889e-01]
 [7.10315634e-01 2.89684366e-01]
 [7.05735717e-01 2.94264283e-01]
 [7.32570883e-01 2.67429117e-01]
 [2.03599464e-01 7.96400536e-01]
 [6.57273502e-01 3.42726498e-01]
 [7.09515075e-01 2.90484925e-01]
 [7.09650071e-01 2.90349929e-01]
 [5.01866821e-01 4.98133179e-01]
 [7.09871893e-01 2.90128107e-01]
 [7.09412490e-01 2.90587510e-01]
 [9.96548253e-01 3.45174712e-03]
 [7.05847900e-01 2.94152100e-01]
 [7.09558681e-01 2.90441319e-01]
 [5.85320044e-09 9.99999994e-01]
 [6.76235099e-01 3.23764901e-01]
 [7.09871893e-01 2.90128107e-01]
 [6.59129966e-01 3.40870034e-01]
 [7.09529634e-01 2.90470366e-01]
 [6.96973643e-01 3.03026357e-01]
 [6.76756261e-01 3.23243739e-01]
 [6.81344591e-01 3.18655409e-01]
 [9.12601370e-01 8.73986304e-02]
 [7.11332903e-01 2.88667097e-01]
 [3.37985899e-01 6.62014101e-01]
 [5.75008060e-01 4.24991940e-01]
 [7.10528033e-01 2.89471967e-01]
 [4.65029431e-01 5.34970569e-01]
 [5.95764391e-01 4.04235609e-01]
 [9.99999795e-01 2.04990434e-07]
 [7.09730957e-01 2.90269043e-01]
 [7.09558681e-01 2.90441319e-01]
 [5.15415211e-01 4.84584789e-01]
 [7.08902758e-01 2.91097242e-01]
 [7.04837500e-01 2.95162500e-01]
 [7.13336622e-01 2.86663378e-01]
 [7.13552486e-01 2.86447514e-01]
 [7.05847900e-01 2.94152100e-01]
 [7.13552486e-01 2.86447514e-01]
 [6.95814775e-01 3.04185225e-01]
 [6.06343212e-01 3.93656788e-01]
 [1.89402632e-03 9.98105974e-01]
 [6.95814775e-01 3.04185225e-01]
 [5.24104090e-01 4.75895910e-01]
 [5.34922689e-01 4.65077311e-01]
 [7.09650071e-01 2.90349929e-01]
 [7.09529634e-01 2.90470366e-01]
 [6.82181625e-01 3.17818375e-01]
 [7.09697690e-01 2.90302310e-01]
 [6.84889013e-01 3.15110987e-01]
 [9.95461071e-01 4.53892924e-03]
 [6.34969680e-01 3.65030320e-01]
 [7.09505394e-01 2.90494606e-01]
 [7.09871893e-01 2.90128107e-01]
 [5.52876638e-01 4.47123362e-01]
 [7.08897533e-01 2.91102467e-01]
 [7.13552486e-01 2.86447514e-01]
 [5.01866821e-01 4.98133179e-01]
 [7.09529634e-01 2.90470366e-01]
 [7.08897533e-01 2.91102467e-01]
 [7.09510178e-01 2.90489822e-01]
 [4.57687288e-01 5.42312712e-01]
 [7.13552486e-01 2.86447514e-01]
 [5.57617843e-01 4.42382157e-01]
 [7.12154932e-01 2.87845068e-01]
 [2.13713811e-01 7.86286189e-01]
 [7.10289194e-01 2.89710806e-01]
 [7.09510178e-01 2.90489822e-01]
 [7.12154932e-01 2.87845068e-01]
 [7.08928592e-01 2.91071408e-01]
 [6.65332319e-01 3.34667681e-01]
 [7.25780202e-01 2.74219798e-01]
 [7.09529634e-01 2.90470366e-01]
 [3.25997382e-01 6.74002618e-01]
 [7.29442590e-01 2.70557410e-01]
 [6.80393426e-01 3.19606574e-01]
 [7.13105814e-01 2.86894186e-01]
 [7.09558681e-01 2.90441319e-01]
 [6.12304553e-01 3.87695447e-01]
 [7.09529634e-01 2.90470366e-01]
 [6.25510865e-01 3.74489135e-01]
 [7.04837500e-01 2.95162500e-01]
 [6.95814775e-01 3.04185225e-01]
 [7.09697690e-01 2.90302310e-01]
 [7.09529634e-01 2.90470366e-01]
 [6.51366532e-01 3.48633468e-01]
 [4.58956309e-07 9.99999541e-01]
 [7.10528033e-01 2.89471967e-01]
 [7.11317893e-01 2.88682107e-01]
 [7.25780202e-01 2.74219798e-01]
 [9.95572148e-01 4.42785223e-03]
 [7.08677435e-01 2.91322565e-01]
 [7.09871893e-01 2.90128107e-01]
 [7.08902758e-01 2.91097242e-01]
 [7.13552486e-01 2.86447514e-01]
 [7.28343489e-01 2.71656511e-01]
 [6.82176658e-01 3.17823342e-01]
 [7.08897533e-01 2.91102467e-01]
 [7.09697690e-01 2.90302310e-01]
 [3.28436163e-01 6.71563837e-01]
 [7.08902758e-01 2.91097242e-01]]

In [36]:
print(y_cat_prob)

[[0.3091181  0.6908819 ]
 [0.80096594 0.19903406]
 [0.48637142 0.51362858]
 [0.67200391 0.32799609]
 [0.78318465 0.21681535]
 [0.84618914 0.15381086]
 [0.31772922 0.68227078]
 [0.31772922 0.68227078]
 [0.17135765 0.82864235]
 [0.39816099 0.60183901]
 [0.3091181  0.6908819 ]
 [0.39816099 0.60183901]
 [0.14779715 0.85220285]
 [0.88656382 0.11343618]
 [0.07420824 0.92579176]
 [0.17135765 0.82864235]
 [0.07420824 0.92579176]
 [0.69535651 0.30464349]
 [0.39816099 0.60183901]
 [0.84618914 0.15381086]
 [0.42430791 0.57569209]
 [0.23951524 0.76048476]
 [0.84618914 0.15381086]
 [0.81997162 0.18002838]
 [0.84090817 0.15909183]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.05142258 0.94857742]
 [0.84090817 0.15909183]
 [0.88239281 0.11760719]
 [0.3091181  0.6908819 ]
 [0.31772922 0.68227078]
 [0.84618914 0.15381086]
 [0.88656382 0.11343618]
 [0.78816626 0.21183374]
 [0.70955227 0.29044773]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.31772922 0.68227078]
 [0.48637142 0.51362858]
 [0.10497816 0.89502184]
 [0.80096594 0.19903406]
 [0.25409238 0.74590762]
 [0.39816099 0.60183901]
 [0.84090817 0.15909183]
 [0.84618914 0.15381086]
 [0.14779715 0.85220285]
 [0.67200391 0.32799609]
 [0.88656382 0.11343618]
 [0.31772922 0.68227078]
 [0.25409238 0.74590762]
 [0.3091181  0.6908819 ]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.84618914 0.15381086]
 [0.80096594 0.19903406]
 [0.84090817 0.15909183]
 [0.84090817 0.15909183]
 [0.67200391 0.32799609]
 [0.84090817 0.15909183]
 [0.14779715 0.85220285]
 [0.05142258 0.94857742]
 [0.58082246 0.41917754]
 [0.08197923 0.91802077]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.84618914 0.15381086]
 [0.84618914 0.15381086]
 [0.69535651 0.30464349]
 [0.30894573 0.69105427]
 [0.07420824 0.92579176]
 [0.88656382 0.11343618]
 [0.69535651 0.30464349]
 [0.48637142 0.51362858]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.08197923 0.91802077]
 [0.08197923 0.91802077]
 [0.39816099 0.60183901]
 [0.88656382 0.11343618]
 [0.84090817 0.15909183]
 [0.80096594 0.19903406]
 [0.88656382 0.11343618]
 [0.84618914 0.15381086]
 [0.17135765 0.82864235]
 [0.78318465 0.21681535]
 [0.69535651 0.30464349]
 [0.88656382 0.11343618]
 [0.3091181  0.6908819 ]
 [0.73909091 0.26090909]
 [0.84618914 0.15381086]
 [0.84090817 0.15909183]
 [0.48637142 0.51362858]
 [0.84090817 0.15909183]
 [0.07420824 0.92579176]
 [0.14779715 0.85220285]
 [0.88656382 0.11343618]
 [0.31772922 0.68227078]
 [0.84090817 0.15909183]
 [0.48637142 0.51362858]
 [0.67200391 0.32799609]
 [0.17135765 0.82864235]
 [0.88239281 0.11760719]
 [0.67200391 0.32799609]
 [0.88656382 0.11343618]
 [0.78318465 0.21681535]
 [0.88656382 0.11343618]
 [0.31772922 0.68227078]
 [0.78816626 0.21183374]
 [0.67200391 0.32799609]
 [0.14779715 0.85220285]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.84618914 0.15381086]
 [0.67200391 0.32799609]
 [0.84618914 0.15381086]
 [0.84090817 0.15909183]
 [0.58082246 0.41917754]
 [0.84090817 0.15909183]
 [0.88656382 0.11343618]
 [0.67200391 0.32799609]
 [0.88239281 0.11760719]
 [0.84618914 0.15381086]
 [0.84618914 0.15381086]
 [0.39816099 0.60183901]
 [0.69535651 0.30464349]
 [0.38841985 0.61158015]
 [0.88656382 0.11343618]
 [0.07420824 0.92579176]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.31772922 0.68227078]
 [0.14779715 0.85220285]
 [0.84090817 0.15909183]
 [0.07420824 0.92579176]
 [0.39816099 0.60183901]
 [0.89698206 0.10301794]
 [0.31772922 0.68227078]
 [0.87071181 0.12928819]
 [0.48637142 0.51362858]
 [0.70955227 0.29044773]
 [0.78816626 0.21183374]
 [0.17135765 0.82864235]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.07420824 0.92579176]
 [0.48637142 0.51362858]
 [0.84090817 0.15909183]
 [0.39816099 0.60183901]
 [0.84090817 0.15909183]
 [0.14779715 0.85220285]
 [0.80096594 0.19903406]
 [0.14779715 0.85220285]
 [0.3091181  0.6908819 ]
 [0.31772922 0.68227078]
 [0.14779715 0.85220285]
 [0.31772922 0.68227078]
 [0.67200391 0.32799609]
 [0.48637142 0.51362858]
 [0.14779715 0.85220285]
 [0.69535651 0.30464349]
 [0.14779715 0.85220285]
 [0.31772922 0.68227078]
 [0.88656382 0.11343618]
 [0.38841985 0.61158015]
 [0.87071181 0.12928819]
 [0.88656382 0.11343618]
 [0.69535651 0.30464349]
 [0.42430791 0.57569209]
 [0.84618914 0.15381086]
 [0.88239281 0.11760719]
 [0.88656382 0.11343618]
 [0.63230475 0.36769525]
 [0.80096594 0.19903406]
 [0.84618914 0.15381086]
 [0.05142258 0.94857742]
 [0.87071181 0.12928819]
 [0.78318465 0.21681535]
 [0.87071181 0.12928819]
 [0.48637142 0.51362858]
 [0.84618914 0.15381086]
 [0.12706866 0.87293134]
 [0.78816626 0.21183374]
 [0.14779715 0.85220285]
 [0.88656382 0.11343618]
 [0.2782636  0.7217364 ]
 [0.78816626 0.21183374]
 [0.89698206 0.10301794]
 [0.31772922 0.68227078]
 [0.84618914 0.15381086]
 [0.36308963 0.63691037]
 [0.67200391 0.32799609]
 [0.88656382 0.11343618]
 [0.39816099 0.60183901]
 [0.12706866 0.87293134]
 [0.89698206 0.10301794]
 [0.10497816 0.89502184]
 [0.38841985 0.61158015]
 [0.67200391 0.32799609]
 [0.67200391 0.32799609]
 [0.67200391 0.32799609]
 [0.84090817 0.15909183]
 [0.88239281 0.11760719]
 [0.31772922 0.68227078]
 [0.69535651 0.30464349]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.23951524 0.76048476]
 [0.3091181  0.6908819 ]
 [0.88656382 0.11343618]
 [0.88656382 0.11343618]
 [0.80096594 0.19903406]
 [0.84618914 0.15381086]
 [0.88239281 0.11760719]
 [0.80096594 0.19903406]
 [0.78318465 0.21681535]
 [0.89698206 0.10301794]
 [0.48637142 0.51362858]
 [0.78318465 0.21681535]]

# 추정의 합

NB은 상호 독립을 가정합니다. 두 사건이 독립일 때, 두 사건이 같이 발생할 확률은 각 사건의 확률의 곱으로 표현합니다.

In [37]:
y_pred_prob = y_cont_prob * y_cat_prob

In [40]:
y_pred = np.argmax(y_pred_prob, axis=1)
print(y_pred)

[1 0 0 0 0 0 0 0 1 1 0 0 1 0 1 0 1 0 1 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0
 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 0 0 1
 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 1 0 1 0 0 1 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0
 1 0 1 0 1 0 0 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 1
 0]

In [41]:
from sklearn import metrics
accuracy = metrics.accuracy_score(y_test, y_pred)
cm = metrics.confusion_matrix(y_test, y_pred)

In [42]:
print(accuracy)
print(cm)

0.7623318385650224
[[128  11]
 [ 42  42]]